<div id="<%= dom_id customer %>">
  <p>
    <strong><%= t('activerecord.attributes.customer.name') %>:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.customer.dob') %>:</strong>
    <%= customer.dob %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.customer.email') %>:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.customer.mobile_phone') %>:</strong>
    <%= customer.mobile_phone %>
  </p>
</div>
