<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= customer.dob %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Mobile phone:</strong>
    <%= customer.mobile_phone %>
  </p>

</div>
