<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <%= link_to "Editar", edit_customer_path(@customer) %> |
  <%= link_to "Voltar", customers_path %>

  <%= button_to "Apagar", @customer, method: :delete %>
</div>
